<div class="fondo" fxLayout="column">
    <main-header></main-header>
    <div fxLayout="column" fxLayoutAlign="center center">
        <div><h2>Version 1.0</h2></div>
        <div><h2>Authors</h2></div>
    </div>
    
    <div fxLayout="row wrap" fxLayoutAlign="center center"  >
        <div  fxFlex.xl="25%" fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">
            <div class="padding5">
                <mat-card>
                    <mat-card-title>
                        <div fxLayout="row" fxLayoutAlign="space-around" >
                            Gaspar Mora-Navarro
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div fxLayout="row" fxLayoutAlign="space-around" >
                            Lecturer
                        </div>
                    </mat-card-subtitle>
                    <mat-card-content>	
                        <div fxLayout="row" fxLayoutAlign="space-around" >
                            <img mat-card-image class="imagen" src="assets/img/about/imagenInstitucionalGaspar.png">
                        </div>
                        <p>E-mail: joamona@cgf.upv.es</p>
                        <p>Department of Cartographic Engineering, Geodesy and Photogrammetry</p>
                        <p>Universitat Politècnica de València</p>
                        <p>Camino de Vera, s/n, 46022 Valencia, Spain</p>
                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                </mat-card>
            </div>
        </div>
        <div  fxFlex.xl="25%" fxFlex.lg="30%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">     
            <div class="padding5">       
                <mat-card>
                    <mat-card-title>
                        <div fxLayout="row" fxLayoutAlign="space-around" >
                            Carmen Femenia-Ribera
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <div fxLayout="row" fxLayoutAlign="space-around" >
                            Lecturer
                        </div>
                    </mat-card-subtitle>
                    <mat-card-content>	
                        <div fxLayout="row" fxLayoutAlign="space-around" >
                            <img mat-card-image class="imagen-carmen" src="assets/img/about/carmen.jpeg">
                        </div>
                        <p>E-mail: cfemenia@cgf.upv.es</p>
                        <p>Department of Cartographic Engineering, Geodesy and Photogrammetry</p>
                        <p>Universitat Politècnica de València</p>
                        <p>Camino de Vera, s/n, 46022 Valencia, Spain</p>
                    </mat-card-content>
                    <mat-card-footer></mat-card-footer>
                </mat-card>
            </div>  
        </div>
    </div>

    <main-module-footer></main-module-footer>

</div>
