<div class="fondo">
    <br>
    <main-header></main-header>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-around" >
        <!--When the screen is greater than medium (gt-md) changes the with is 50%-->  
        <div fxFlex.gt-md="50%">
            <form [formGroup]="controlsGroup" autocomplete="off">
                <mat-card>
                    <div fxLayout="row" fxLayoutAlign="space-around"><mat-card-title>Reference point coordinates</mat-card-title></div>
                    <mat-card-content>

                        <div fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="16px grid"> 
                            <!--PUNTO 1 -->
                            <div  fxFlex.xl="30%" fxFlex.lg="35%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">       
                                <mat-card>
                                    <div fxLayout="row" fxLayoutAlign="space-around"><mat-card-title>Pt1. Reference line.</mat-card-title> </div>
                                        <mat-card-content>
                                            <mat-form-field class="full-width">
                                                <input onClick="this.select();" type="number" #idxpt1 matInput placeholder="X pt1" [formControl]="xpt1" matTooltip="X pt1" (change)="clearResults()">
                                                <mat-error *ngIf="xpt1.hasError('required')">
                                                    The X is mandatory.
                                                </mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="full-width">
                                                <input onClick="this.select();" type="number" matInput placeholder="Y pt1" [formControl]="ypt1" matTooltip="Y pt1" (change)="clearResults()">
                                                <mat-error *ngIf="ypt1.hasError('required')">
                                                    The Y is mandatory.
                                                </mat-error>
                                            </mat-form-field>
                                        </mat-card-content>
                                </mat-card>
                            </div>
                            <!--PUNTO 2 -->
                            <div  fxFlex.xl="30%" fxFlex.lg="35%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">
                                <mat-card>
                                    <div fxLayout="row" fxLayoutAlign="space-around"><mat-card-title>Pt2. Reference line.</mat-card-title></div>
                                    <mat-card-content>
                                    
                                        <mat-form-field class="full-width">
                                            <input onClick="this.select();" type="number" matInput placeholder="X pt2" [formControl]="xpt2" matTooltip="X pt2" (change)="clearResults()">
                                            <mat-error *ngIf="xpt2.hasError('required')">
                                                The X is mandatory.
                                            </mat-error>
                                        </mat-form-field>
                                        <mat-form-field class="full-width">
                                            <input onClick="this.select();" type="number" matInput placeholder="Y pt2" [formControl]="ypt2" matTooltip="Y pt2" (change)="clearResults()">
                                            <mat-error *ngIf="ypt2.hasError('required')">
                                                The Y is mandatory.
                                            </mat-error>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>

                        <div fxLayout="row wrap" fxLayoutAlign="center center"  fxLayoutGap="16px grid"  > 
                                <!--PT3 -->
                                <div  fxFlex.xl="30%" fxFlex.lg="35%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">         
                                    <mat-card>
                                        <div fxLayout="row" fxLayoutAlign="space-around"><mat-card-title>Pt3</mat-card-title> </div>
                                            <mat-card-content>
                                                <mat-form-field class="full-width">
                                                    <input onClick="this.select();" type="number" matInput placeholder="X pt3" [formControl]="xpt3" matTooltip="X pt3" (change)="clearResults()">
                                                    <mat-error *ngIf="xpt3.hasError('required')">
                                                        The X is mandatory.
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="full-width">
                                                    <input onClick="this.select();" type="number" matInput placeholder="Y pt1" [formControl]="ypt3" matTooltip="Y pt3" (change)="clearResults()">
                                                    <mat-error *ngIf="ypt1.hasError('required')">
                                                        The Y is mandatory.
                                                    </mat-error>
                                                </mat-form-field>
                                            </mat-card-content>
                                    </mat-card>
                                </div>
                                <!--OFFSETS -->
                                <div  fxFlex.xl="30%" fxFlex.lg="35%" fxFlex.md="40%" fxFlex.sm="50%" fxFlex.xs="100%">   
                                    <mat-card>
                                        <div fxLayout="row" fxLayoutAlign="space-around"><mat-card-title>Offsets</mat-card-title> </div>
                                            <mat-card-content>
                                                <mat-form-field class="full-width">
                                                    <input onClick="this.select();" type="number" matInput placeholder="Distance offset" [formControl]="xOffset" matTooltip="X offset" (change)="clearResults()">
                                                    <mat-error *ngIf="xpt1.hasError('required')">
                                                        Mandatory. Set to 0 or any other value.
                                                    </mat-error>
                                                </mat-form-field>
                                                <mat-form-field class="full-width">
                                                    <input onClick="this.select();" type="number" matInput placeholder="Distance to the origin offset" [formControl]="yOffset" matTooltip="Y offset" (change)="clearResults()">
                                                    <mat-error *ngIf="ypt1.hasError('required')">
                                                        Mandatory. Set to 0 or any other value.
                                                    </mat-error>
                                                </mat-form-field>
                                            </mat-card-content>
                                    </mat-card>
                                </div>
                            
                        </div>
                        <div fxLayout="column"  fxLayoutAlign="center center">
                            <br>
                            <p  *ngIf="errorMessage!=''" class="error-message">{{errorMessage}}</p>
                            <mat-card-actions>
                                <button mat-raised-button [disabled]="disablePreviousButton()" (click)="previousResult()" matTooltip="Previous result"><mat-icon class="rotate_image">forward</mat-icon></button>
                                <button mat-raised-button [disabled]="disableNextButton()" (click)="nextResult()" matTooltip="Next result"><mat-icon>forward</mat-icon></button>
                                <button mat-raised-button [disabled]="getCurrentResultIndex()==-1" (click)="clearServiceResults()" matTooltip="Clear results in memory"><mat-icon> clear_all</mat-icon></button>
                                <button mat-raised-button [disabled]="!controlsGroup.valid" (keyup.enter)="calculate()" (click)="calculate()" matTooltip="Calculate results">Calculate</button>
                                <button mat-raised-button [disabled]="getCurrentResultIndex()==-1" matTooltip="View on map" [routerLink]="'/map'">Map</button>

                            </mat-card-actions>
                        </div>

                        <!--Results-->
                        <br>
                        <div *ngIf="referenceLineAzimuth.value!=''" class="flex-container" fxLayout="row" fxLayoutAlign="space-around" >          
                            <mat-card>
                                <div fxLayout="row" fxLayoutAlign="space-around">
                                    <mat-card-title>
                                         Result {{alignmentResultsService.currentResultIndex + 1}} of {{alignmentResultsService.getNumberOfResults()}}
                                    </mat-card-title> 
                                </div>
                                    <mat-card-content>
                                        <p class="parameter">Perpendicular distance (pt3-pt4): <span class="parameter-value">{{distance.value}}</span></p>
                                        <p class="parameter">Origin distance (pt1-pt4): <span class="parameter-value">{{originDistance.value}}</span></p>
                                        <hr>
                                        <p class="parameter">Reference line azimuth (pt1-pt2): <span class="parameter-value">{{referenceLineAzimuth.value}}</span></p>
                                        <p class="parameter">Reference line lenght (pt1-pt2): <span class="parameter-value">{{referenceLineLength.value}}</span></p>
                                        <p class="parameter">Projected coordinates (pt4): <span class="parameter-value">{{projectedPtX.value}}, {{projectedPtY.value}}</span></p>
                                    </mat-card-content>
                            </mat-card>
                        </div>
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>
    <main-module-footer></main-module-footer>
</div>

