<div class="fondo" fxLayout="column" fxLayoutAlign="center center">
    <main-header></main-header>
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.xl="70%" fxFlex.lg="80%" fxFlex.md="90%" fxFlex.sm="100%" fxFlex.xs="100%" class="padding10">
            <br>
            <p>Application to get distances to an alineation defined by two points.</p>
            
            <p>This program allows the surveyor to stakeout alineations parallel, or perpendicular 
                to a reference line defined by two points (pt1 and pt2).</p>
    
            <p>Calculates the azimuth and length of the reference line (pt1-pt2).</p>
            <p>Calculates the intersection (pt4) of the reference line with a perpendicular line passing by pt3.</p>
            <p>Calculates perpendicular distance of the reference line to pt3 (length of pt3-pt4).</p>
            <p>Calculates the distance from the origin (length of pt1-pt4).</p>
            <p>You can also set offsets to add or substract to the calculated distances</p>
            <br>
            
            <div fxLayout="row" fxLayoutAlign="center center" >
                <img class = "help" src="assets/img/home/help.png">
            </div>
            
        </div>
    </div>
    
    <main-module-footer></main-module-footer>
</div>




