
<div class="fondo" fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <div>
            <br>
            <h1 >Download Survey Alignment app</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <a href="https://gisserver.car.upv.es/html/apks/surveyalignment/surveyalignment.apk"><img class="logo" src="assets/img/surveyAlignment.png"  matTooltip="Click to download"></a>
                        </td>
                        <td>
                            <p>Survey Alignment App for Android.</p>
                            <p>App to measure to calculate distances to a line defined by two points.</p>
                            <p>Version: 1.0.</p>
                            <p>Date: 20-03-2023.</p>
                        </td>
                    </tr>
            </table>            
        </div>
    </div>
    
    <main-module-footer></main-module-footer>
</div>

