<footer class="footer">
		<br>
        <div fxLayout="row" fxLayoutAlign="center center" >
            <div>
                
                    <a href="https://www.upv.es/" target="_blank">	
                        <img class="logoupv" src="assets/img/logos/3_marca_UPV_principal_negro300.png" matTooltip="Universitat Politècnica de València">
                    </a>
                
            </div>
            <div>
                
                    <a href="https://www.upv.es/entidades/DICGF/index-en.html" target="_blank">					
                        <img class="logodep" src="assets/img/logos/2_dicgf-trans.png" matTooltip="Department of Cartographic Engineering, Geodesy and Photogrametry">
                    </a>
                
            </div>
            <div>
                
                    <a href="http://www.upv.es/entidades/ETSIGCT/" target="_blank">					
                        <img class="logodep" src="assets/img/logos/logoEscuela3.png" matTooltip="Higher Technical School of Geodetic, Cartographic and Topographic Engineering">
                    </a>
                
            </div>
        </div>      
</footer>
